@page "/"

<div class="container py-5">
    <h1 class="mb-4">Welcome to Management Dashboard</h1>
    <!-- Show prioritized tasks -->
    <div class="mt-5">
        <NextTasksList />
    </div>
</div>

<!-- Blank home page for initial bootstrap. -->
