@inherits LayoutComponentBase
@using Blazorise.FluentUI2
@using Blazorise

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            <Button Color="Color.Primary">Blazorise Button Test</Button>
            @Body
        </article>
    </main>
</div>
