@inherits LayoutComponentBase
@using Blazorise.FluentUI2
@using Blazorise

<Layout SiderBreakpoint="Breakpoint.None">
    <LayoutSider Style="width:260px;">
        <NavMenu />
    </LayoutSider>
    <LayoutHeader>
        <Bar Background="Background.Light" ThemeContrast="ThemeContrast.Light">
            <BarBrand>
                <span class="fw-bold">Management Dashboard</span>
            </BarBrand>
            <BarToggler />
            <BarMenu>
                <BarStart>
                    <!-- Optional nav links here -->
                </BarStart>
            </BarMenu>
        </Bar>
    </LayoutHeader>
    <LayoutContent>
        <Container Class="mt-4">
            <Button Color="Color.Primary">Blazorise Button Test</Button>
            @Body
        </Container>
    </LayoutContent>
</Layout>
