@using ManagementDashboard.Components.Layout
@inherits LayoutComponentBase

<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-3 col-lg-2 p-0 bg-light border-end min-vh-100">
      <NavMenu />
    </div>
    <main class="col px-4">
      <nav class="navbar navbar-light bg-light d-md-none">
        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse" data-bs-target="#sidebarMenu"
                aria-controls="sidebarMenu" aria-expanded="false"
                aria-label="Toggle navigation">
          &#9776; Menu
        </button>
      </nav>
      <div class="pt-3">
        <AppErrorBoundary>
          @Body
        </AppErrorBoundary>
      </div>
    </main>
  </div>
</div>
