@using Blazorise

<Bar Background="Background.Primary" ThemeContrast="ThemeContrast.Dark">
    <BarBrand>
        <span class="fw-bold">Management Dashboard</span>
    </BarBrand>
    <BarMenu>
        <BarStart>
            <BarItem>
                <BarLink To="/">Home</BarLink>
            </BarItem>
            <BarItem>
                <BarLink To="/eisenhowermatrix">Eisenhower Matrix</BarLink>
            </BarItem>
            <BarItem>
                <BarLink To="/scrumsummary">Scrum Summary</BarLink>
            </BarItem>
        </BarStart>
    </BarMenu>
</Bar>
